<div id="table">
  <h2></h2>
  <table class="table table-bordered table-striped text-center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
      </tr>
    </thead>
    <tbody class="table-hover table-striped">
      <tr>
        <th scope="row">
          {{ indice + 1 }}
        </th>
        <th>
          {{ persona.name }}
        </th>
        <th>
          {{ persona.lastName }}
        </th>
      </tr>
    </tbody>
  </table>
</div>
