<div id="title" class="text-center title container">
  <hr />
  <h1>{{ title }}</h1>
  <hr />
</div>

<app-formulario-persona
  (personaCreada)="addPerson($event)"
></app-formulario-persona>

<div id="table" class="container">
  <table class="table table-bordered table-striped text-center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
      </tr>
    </thead>
    <tbody class="table-hover table-striped">
      <tr *ngFor="let persona of personas; index as i">
        <th scope="row">
          {{ i + 1 }}
        </th>
        <th>
          {{ persona.name }}
        </th>
        <th>
          {{ persona.lastName }}
        </th>
      </tr>
    </tbody>
  </table>
</div>
