.title {
    font-family: "Courier New", Courier, monospace;
    font-size: 33px;
    letter-spacing: -1.4px;
    word-spacing: 1.4px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: lowercase;
    text-align: center;
}
